*
{
    user-select: none;
}

body
{
    background-color: cornsilk;
    width: 1000px;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
    font-family: 'Rock Salt', cursive;
}

div.board
{
    width: 450px;
    margin: auto;
}

div.board h1
{
    font-size: 35px;
}

div[id^="row"] div
{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    float: left;
    box-sizing: border-box;
    
}

div[id^="row"]
{
    overflow: hidden;
    clear: both;
}

div[id^="row"] div:first-child
{
    border-left: none;
}

div[id^="row"] div:last-child
{
    border-right: none;
}

div[id="row-1"] div
{
    border-top: none;
}

div[id="row-3"] div
{
    border-bottom: none;
}

span
{
    font-size: 50px;
}